 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h3>BACKGROUND</h3>

                    <p>We want to hear your stories and create a comprehensive map of the conditions that exist on the ground for people walking and biking.</p>

                    <h3>PROBLEM</h3>

                    <p>Currently, the City of Portland does not have a comprehensive policy to address how street closures affect people walking and biking, especially people with disabilities and accesibility challenges.</p>

                    <h3>PROPOSAL</h3>

                    <p>We believe there should be a policy that ensures that safe and accessible detours are provided, that adjacent projects are conducted in a way that provides continual access to the pedestrian and bicycle network and that projects are not closing down needed routes for exorbitant amounts of time. Read our full policy statement.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://drive.google.com/file/d/0Bxx-ZHgIrZWmZlFCUFN2NHBsaFJ2UW5fNHNTdWRMMzZ2STBz/view?usp=sharing" class="btn btn-lg btn-outline">
                        <i class="fa fa-file-pdf-o"></i> Full policy statement [PDF]
                    </a>
                </div>
            </div>
        </div>
    </section>
