 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">            
                    <h3>What?</h3>
                    <p>This website was created to track obstructions to the bicycle and pedestrian network by construction zones. We want to hear your stories and create a comprehensive map of the conditions that exist on the ground for people walking and biking.  Map your conditions through Memorial Day: We will be presenting the results to Portland City Hall at the end of May.</p>

                    <h3>Why?</h3>

                    <p>Currently, the City of Portland does not have a comprehensive policy to address how street closures affect people walking and biking, especially people with disabilities and accesibility challenges.</p>

                    <p>We believe there should be a policy that ensures that safe and accessible detours are provided, that adjacent projects are conducted in a way that provides continual access to the pedestrian and bicycle network and that projects are not closing down needed routes for exorbitant amounts of time.  We will be sharing your stories and snapshots with Portland City Hall officials so that they understand how significant of an issue it is and how it can be addressed.</p>

                    <h3>Who?</h3>

                    <p>This is a project of <a class="dark" href="http://oregonwalks.org" target="_blank">Oregon Walks</a>, the <a class="dark" href="https://btaoregon.org/" target="_blank">Bicycle Transportation Alliance</a> and <a class="dark" href="http://dotsconnect.us" target="_blank">Dots.Connect</a>.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a target="_blank" href="https://drive.google.com/file/d/0Bxx-ZHgIrZWmZlFCUFN2NHBsaFJ2UW5fNHNTdWRMMzZ2STBz/view?usp=sharing" class="btn btn-lg btn-outline">
                        <i class="fa fa-file-pdf-o"></i> Full policy statement [PDF]
                    </a>
                </div>
            </div>
        </div>
    </section>
