    <!-- jQuery Version 1.11.0 -->
    <script src="{{ site.baseurl }}/js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ site.baseurl }}/js/jquery.easing.min.js"></script>
    <script src="{{ site.baseurl }}/js/classie.js"></script>
    <script src="{{ site.baseurl }}/js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ site.baseurl }}/js/jqBootstrapValidation.js"></script>
    {% if site.contact == "static" %}
    <script src="{{ site.baseurl }}/js/contact_me_static.js"></script>
    {% else %}
     <script src="{{ site.baseurl }}/js/contact_me.js"></script>
    {% endif %}

    <!-- Custom Theme JavaScript -->
    <script src="{{ site.baseurl }}/js/freelancer.js"></script>

    {% if site.contact == "disqus" %}
    <!-- Disqus Stuff -->
    {% include js_disqus.html %}
    {% endif %}

    <!-- work zone, wtf -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/tabletop.js/1.4.3/tabletop.min.js"></script>
    <script src="{{ site.baseurl }}/js/amplify.js"></script>
