
    <!-- Portfolio Grid Section -->
    <section id="map">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="header-text">
                        <h2>Map</h2>
                        <hr class="star-primary">
                        <span class="blurb">See where observations are being made</span>
                    </div>
                </div>
            </div>            
        </div>
    </section>
