
    <!-- Portfolio Grid Section -->
    <section id="mediastream">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="header-text">
                        <h2>Media Stream</h2>
                        <hr class="star-primary">
                        <span class="blurb">Snapshots of the issue crowdsourced via <a href="#">#workzoneWTF</a></span>
                    </div>
                </div>
                <div class="page-scroll col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-primary btn-dark">Add Your Voice
                    </a>
                </div>

                <div class="col-lg-12 text-center">
                    
                </div>
            </div>
            <div class="row social-grid">
                <div class="col-lg-8 col-lg-offset-2 text-center wtf-loading">
                    <h3><i class="fa fa-refresh fa-spin"></i> Loading...</h3>
                </div>
                <div class="col-sm-4 portfolio-item social-tpl"></div>
                <div class="clearfix clearfix-tpl visible-sm-block visible-md-block visible-lg-block"></div>
            </div>
        </div>
    </section>
