
<!-- Portfolio Grid Section -->
<section id="mediastream">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="header-text">
          <h2>Media Stream</h2>
          <hr class="star-primary">
          <span class="blurb">Snapshots of sidewalk and road closures around the city.</span>
        </div>
      </div>
      <div class="page-scroll col-lg-8 col-lg-offset-2 text-center">
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
          Add Your Voice
        </button>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <h3>Choose Your Method</h3>
              <h4>Twitter</h4>
              <ol>
                <li><a target="_blank" href="https://support.twitter.com/articles/20172128#record">Shoot a new photo or video</a> with the mobile app</li>
                <li>Before you leave the site, <a target="_blank" href="https://support.twitter.com/articles/122236">add your location</a>.  Choose '<i>use precise location</i>' for best accuracy.</li>
                <li>Type your tweet with the hashtag <a href="#">#workzoneWTF</a>. Include what you observed or how you felt.</li>
              </ol>
              <h4>Instagram</h4>
              <ol>
                <li><a target="_blank" href="https://help.instagram.com/442610612501386/">Shoot a new photo or video</a> with the mobile app</li>
                <li>Before you leave the site, <a target="_blank" href="https://help.instagram.com/408972995943225">add your location</a>.</li>
                <li>Type your caption with the hashtag <a href="#">#workzoneWTF</a>. Include what you observed or how you felt.</li>
              </ol>
              <h4>Extra Tips</h4>
              <ul>
                <li>Your posts must be public or we won't be able to see them!</li>
                <li>If you cannot add a location or are not at the location, then type the nearest intersection or landmark into your tweet.</li>
                <li>If you do not have a mobile phone then post to Twitter from your desktop and type the name of the nearest intersection or landmark into your post.</li>
                <li>If you want to use Twitter or Instagram but don't want to post publicly on your account then direct message to @vzworkzones on Twitter or vzworkzones on Instragram and we'll repost anonymously.</li>
              </ul>

              <h3>Email</h3>
              <ul>                     
                <li>Send images or videos with description to <a href="mailto:vzworkzones@gmail.com" target="_blank">vzworkzones@gmail.com</a>.  By submitting you agree to allow us to post them to Twitter on your behalf.</li>
              </ul>

              <h3>Other</h3>
              <ul>                
                <li>If you have more to share then submit a story to us.  Just go to the story section of this site and fill out the form.</li>
              </ul>

              <h3>Need Help?</h3>
              <ul>                     
                <li>Send your questions to <a href="mailto:vzworkzones@gmail.com" target="_blank">vzworkzones@gmail.com</a> and we will follow up.</li>
              </ul>

              <h3>Frequently Asked Questions</h3>
              <ul>                
                <li><i>What if my phone can't figure out my location when I try to add it?</i>  Then include the nearest address, intersection or landmark in the post text and we'll take care of it.</li>
                <li><i>What if I forgot to add the location or mess up in some other way?</i>  Instagram will let you edit your post but Twitter will not and you will have to delete and repost.  Your original image or video should still be accessible</li>
              </ul>
            </div>                      
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row social-grid">
      <div class="col-lg-8 col-lg-offset-2 text-center wtf-loading">
        <h3><i class="fa fa-refresh fa-spin"></i> Loading...</h3>
      </div>
      <div class="col-sm-4 portfolio-item social-tpl"></div>
      <div class="clearfix clearfix-tpl visible-sm-block visible-md-block visible-lg-block"></div>
    </div>
  </div>
</section>
