.social-grid {
  clear: both;
  min-height:510px;
}

.social-footer .btn-nav {
  color: #666666;
  background-color: #ffffff;
  border-color: #95a5a6;
}

.social-footer .btn-nav:hover {
    background: #eee;
}

.social-footer {
  margin-top: 5px;
}

.btn-outline:hover

#map { 
  position:relative; 
  height: 500px; 
  width:100%; 
}

.twitter-popup {
  width: 240px;
  margin-bottom: -10px;
}

.mapboxgl-popup-content {
  padding: 15px;
}

.instagram-popup {
  width: 240px;
  margin-top: 10px;
}