.social-grid {
  clear: both;
  min-height:510px;
}

.social-footer .btn-nav {
  color: #fff;
  background-color: #F09015;
  border-color: #F09015;
}

.social-footer .btn-nav:hover {
  background: #F4C823;
  border-color: #F4C823;
}

.social-footer {
  margin-top: 5px;
}

#map { 
  position:relative; 
  height: 500px; 
  width:100%; 
}

.twitter-popup {
  width: 240px;
  margin-bottom: -10px;
}

.mapboxgl-popup-content {
  padding: 15px;
}

.instagram-popup {
  width: 240px;
  margin-top: 10px;
}