#map { 
  position:relative; 
  height: 500px; 
  width:100%; 
}

.twitter-popup {
  width: 240px;
  margin-bottom: -10px;
}

.mapboxgl-popup-content {
  padding: 15px;
}

.instagram-popup {
  width: 240px;
  margin-top: 10px;
}